.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: var(--grey-bg);
    min-height: 110px;
    border-radius: 10px;
}

.contact+.contact {
    margin-top: 5px;
}

.content {
    display: flex;
}

.img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 30px;
}

.text {
    margin-top: 10px;
}

.name {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

.status {
    font-size: 16px;
    color: #6b6b6b;
    font-style: italic;
}

.follow {
    color: green;
    cursor: pointer;
    border:none;
    background-color: transparent;
    padding: 0;
    font-size: 16px;
}

.unfollow {
    color: #7d7d7d;
    cursor: pointer;
    background-color: transparent;
    border:none;
    padding: 0;
    font-size: 16px;
}