.searchbar {
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: var(--section-mb-small);
    background-color: var(--grey-bg);
    border-radius: 10px;
}